{% extends 'base.html' %}

{% block conteudo %}

<h1>Funcionários</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-error px-3">
    {% for category, message in messages %}
    <div class="alert {{ category }} alert-dismissible fade show px-5" role="alert">
        <strong>{{ message }}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Novo Funcionário
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Novo Funcionário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-funcionario" class="form-somar" action="{{ url_for('cadastrar_funcionario') }}" method="post">
                    <label>
                        Nome:
                        <input id="nome" placeholder="Digite o nome" name="form-nome" class="form-control w-100">
                    </label>

                    <div class="d-flex justify-content-between">
                        <label>
                            Data Nascimento:
                            <input type="date" name="form-data-nasc" class="form-control w-100">
                        </label>

                        <label>
                            CPF:
                            <input placeholder="Digite somente números" name="form-cpf" class="form-control w-100">
                        </label>
                    </div>

                    <label>
                        Email:
                        <input id="email" type="email" placeholder="Digite o email" name="form-email" class="form-control w-100">
                    </label>

                    <label>
                        Senha:
                        <input type="password" data-bs-toggle="password" placeholder="Digite a senha" name="form-senha"
                               class="form-control w-100">
                    </label>

                    <label>
                        Cargo:
                        <input placeholder="Digite o cargo" name="form-cargo" class="form-control w-100">
                    </label>

                    <label>
                        Salario:
                        <input placeholder="Digite o salario" name="form-salario" class="form-control w-100">
                    </label>

                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-info" onclick="limpar()">Limpar Campos</button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Data Nascimento</th>
        <th scope="col">CPF</th>
        <th scope="col">Email</th>
        <th scope="col">Cargo</th>
        <th scope="col">Salário</th>
        <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>

    {% for funcionario in lista_funcionarios %}

    <tr>
        <th>{{ funcionario.id }}</th>
        <td>{{ funcionario.nome }}</td>
        <td>{{ funcionario.data_nascimento }}</td>
        <td>{{ funcionario.cpf }}</td>
        <td>{{ funcionario.email }}</td>
        <td>{{ funcionario.cargo }}</td>
        <td>{{ funcionario.salario }}</td>
        <td>
            <a href=""><i class="bi bi-pencil"></i></a>
            <a href=""><i class="bi bi-trash text-danger"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

